body {
    margin: 0px;
    padding: 0px;
    background: #FEFCFC url(images/bg.gif) repeat-y;
    font: normal 13px Verdana, Tahoma, Arial, Helvetica, sans-serif;
    color: #000000;
}


/* ------------------------content---------- */

.content {
    font: normal 13px Verdana, Arial, Helvetica, sans-serif;
    margin: 0px;
    width: 753px;
    margin-bottom: 20px;
}

.content .post {
    padding: 10px 50px 10px 50px;
    background: url(images/img4.gif) no-repeat right bottom;
}

.content .title {
    font-size: 24px;
    color: #333333;
}

.content .posted {
    font: bold 9px Verdana, Tahoma, Arial, Helvetica, sans-serif;
}

.content .story {
    line-height: 18px;
}

.content a {
    color: #3366FF;
}

.content a:hover {
    text-decoration: none;
    color: #000000;
}

.content .category {
    background: url(images/img8.gif) no-repeat left center;
}

.content .comment {
    background: url(images/img9.gif) no-repeat left center;
}


/* ----------------------Blue Box----------- */

.bbox {
    position: absolute;
    top: 0px;
    left: 754px;
    width: 242px;
}

.bbox .item {
    background: url(images/img3-reversed.gif) no-repeat right bottom;
    padding: 0px 20px 20px 20px;
}

.bbox .heading {
    margin-bottom: 5px;
    font-size: 14px;
    color: #000000;
    font-weight: bold;
}

.bbox ul {
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: 18px;
}

.bbox a {
    padding-left: 10px;
    background: url(images/img6.gif) no-repeat left top;
    text-decoration: none;
    color: #444444;
}

.bbox a:hover {
    text-decoration: underline;
}


/* --------------------------------Footer-------- */

#footer {
    width: 242px;
    font-size: 9px;
}

#footer a {
    color: #727171;
}

#footer p {
    vertical-align: bottom;
    background: url(images/img3-reversed.gif) no-repeat right bottom;
    padding: 40px 0px 20px 20px;
    color: #727171;
}


/* -----------------------------------Misc----------- */

a {
    text-decoration: underline;
    color: #4BA3D8;
}

a:hover {
    text-decoration: none;
    color: #056077;
}

img {
    padding: 3px;
    border: 1px solid #021a40;
}

h1 {
    font: normal 18px Verdana, Tahoma, Arial, Helvetica, sans-serif;
}

h2 {
    font: normal 16px Verdana, Tahoma, Arial, Helvetica, sans-serif;
}

h3 {
    font: normal 14px Verdana, Tahoma, Arial, Helvetica, sans-serif;
}

h4 {
    font: normal 22px Verdana, Tahoma, Arial, Helvetica, sans-serif;
}

tr {
    font: normal 13px Verdana, Tahoma, Arial, Helvetica, sans-serif;
}

table tr.odd {
    background-color: #fff;
}

table tr.even {
    background-color: #f3f3f3;
}